
#top {
    background: #481380;
}

.beehiveText {
    color: white;
    font-size: 15px;
	margin-top: 10px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;
}

.logoutText {
    color: white;
    font-size: 20px;
    margin-top: 10px;
	margin-left: 20px;
	font-family: 'Roboto', sans-serif;
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 2px;
}

img {
    width: 70px;
    height: 55px;
}

.container2 {
    width: 90%;
    background-color: #F4EFF9;
    height: auto;
    margin: 0 auto;
    margin-top: 30px;
}

.eventBox {
    width: 95%;
    height: 100px;
    background: #FE346E;
	border-radius: 10px;
	margin-left: 20px;
	text-align: center;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	 
}

.event_input {
	width: 92%;
	max-width: 600px;
    height: 50px;
	border-radius: 5px;
	margin-top: 24px;
	padding-left: 15px;
	font-family: 'Roboto', sans-serif !important;
	text-transform: uppercase;
	font-size: .85rem;
	color: #481380 !important;
	
}  
.from_input, .to_input {
    width: 60% !important;
    margin-left: 20px;
	border: 1px solid transparent !important;
	box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
	outline: none;
	color: #481380 !important;	
}

.form-label {
	margin-left: 25px;
}

.form-control {
	font-size: 1.1rem;
	width: 240px !important;

}

.week {
    margin-left: 20px;
}
.column2 {
	background-color: lavenderblush;
}


.eventButton {
  width: 200px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: #FE346E;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  margin-top: 90px;
}

.eventButton:hover {
	background-color: #2EE59D;
	box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
	color: #fff;
	transform: translateY(-7px);
}

.eventButton:focus {
	outline: none;
}


